body{
  min-width: 320px;
  font-family: 'Comic Neue', cursive;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(96, 73, 117) 0%, rgba(9,121,44,1) 36%, rgba(0,212,255,1) 100%);
}
.active{
  color: teal !important;
  text-decoration: underline;
}
.gameBackground{
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.gameBackground~.row~.col~.card~.card-action{
  display: none !important;
}
label{
    color: white;
    font-size: 1.5vw;
}
.stars{
  width: 100%;
  height: 60px;
  overflow: hidden;
}
.repeat{
  width: 32px;
  height: 32px;
  margin-top: -10px;
}
.grayFilt{
  filter: grayscale(100);
}
.card{
  width: 100%;
  height: 65%;
  max-height: 400px;
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.card-action{
    max-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-front,.card-back{
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    
}
.row>img{
  width: 50%;
  height: 55%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
.row>p{
  font-size: 5vw;
  margin: 0;
  text-align: center;
  color: aquamarine;
}
.start{
  margin: -27px auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 40vw;
  position: absolute;
  left: 0;
  right: 0;
}
.card-back{
    transform: rotateY(180deg);
}
.card.is-flipped {
    transform: rotateY(180deg);
}
.card.is-flipped>.card-front>.card-action>p{
    visibility: hidden;
}
.menu-item>.card-image{
  clip-path: circle(50% at center);
}
.sidenav{
  min-width: 27%;
}
.sidenav li>a{
  font-size: 24px;
}
.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .hide{
    display: none;
  }
  
  @media only screen and (min-width: 2000px) {
    .card-action>span{
      font-size: 1.5vw;
    }
    .repeat {
      width: 64px;
      height: 64px;
    }
  }
  @media only screen and (max-width: 2560px) {
    .card {
        max-height: 20vw !important;
    }
  }
 @media only screen and (max-width: 990px) {
    .card {
        max-height: 40vw !important;
    }
    label{
      color: white;
      font-size: 4.5vw;
  }
  }
  @media only screen and (max-width: 601px) {
    .card {
        max-height: 75vw !important;
    }
    label{
      color: white;
      font-size: 5.5vw;
  }
  }
   